# Secret API keys (DO NOT SHARE)
.env

# Virtual Environments (Computer specific)
venv/
.venv/

# Python cache
__pycache__/
*.pyc

# Large generated assets (Let your friend generate their own)
assets/
*.urdf